@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: #fff;
}
p {
  font-size: 14px;
}
a {
  color: #8a8a8a;
  text-decoration: none;
  font-size: 14px;
  font-family: var(--font-bold);
}

.mx {
  max-width: 1400px;
  margin: 0 auto;
}

/* @font-face {
  font-family: "Gilroy-Bold";
  src: url("../src/assets/fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../src/assets/fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../src/assets/fonts/Gilroy-SemiBold.ttf");
} */

:root {
  /* --font-bold: "Gilroy-Bold";
  --font-medium: "Gilroy-Medium";
  --font-semiBold: "Gilroy-SemiBold"; */
  --header-background-color: "#0e0e0e";
  --header-para-color: "#8a8a8a";
  --button-primary: #00ce53;
}

button:disabled {
  cursor: no-drop;
}
